<div class="full-width">
  <div class="row">
      <div class="twelve columns">
        <button-set>
          <button soho-button="icon" icon="add" (click)="addNewUser($event)">Add</button>
          <button soho-button="icon" icon="delete">Delete</button>
          <button soho-button="icon" icon="export" disabled="disabled">Export</button>
        </button-set>
      </div>
    </div>

   <div class="row">
      <div class="twelve columns" role="main">
        <div soho-datagrid [columns]="columns" [data]="data" [paging]="true" [pagesize]="10">
        </div>
      </div>
    </div>
  </div>
